<html>
  <head>
	<title>Vanhack Challenge</title>
  </head>
  <body>
    <h1>Vanhack Challenge</h1>
    <form method="POST" action="/">
      <label>Name:</label>
      <input type="text" name="name"><br>
      <label>Favorite Colour:</label>
      <input type="text" name="color"><br>
      <label>Cats or Dogs?:</label>
      <select id="animals" name="animals">
    	<option value="cats">Cats</option>
    	<option value="dogs">Dogs</option>
      </select><br>
      <input type="submit" value="Save">
    </form>
    <h1>Surveys</h1>
    <table border="1">
     <thead>
      <tr>
       <th>Name</th>
       <th>Favorite Color</th>
       <th>Cats or Dogs?</th>
      </tr>
     </thead>
     <tbody>
     {% for person in people %}
      <tr>
       <td>{{person.name}}</td>
       <td>{{person.color}}</td>
       <td>{{person.animals}}</td>
      <tr>
     {% endfor %}
     </tbody>
    </table>
  </body>
</html>
